# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cull_the_devs/cull_the_devs.zip
cull_the_devs/cull_the_devs_darwin64
cull_the_devs/cull_the_devs_linux64
slipway/slipway_darwin64
slipway/slipway_linux64

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Stuff no one wants in their repo
*.DS_Store
*.swp
